@import "./global/index";
@import "./utils/index";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(20) 0;
  width: 90%;
  margin: 0 auto;

  .burger {
    background: transparent;
    border: none;
    display: none;

    @include breakpoint(md) {
      display: block;
    }

    span {
      width: rem(36);
      height: rem(5.5);
      background: #000;
      display: block;
      margin: rem(6) 0;
      border-radius: rem(8);

      &::before,
      &::after {
        width: rem(36);
        height: rem(5.5);
        background: #000;
        display: block;
        border-radius: rem(8);
      }
    }
  }

  a {
    width: auto;
    img {
      width: rem(200);
      height: rem(42);
    }
  }

  .auth {
    display: flex;
    align-items: center;

    @include breakpoint(md) {
      display: none;
    }

    .user {
      display: flex;
      align-items: center;
      margin-right: rem(20);

      img {
        width: rem(45);
        height: rem(45);
        margin-right: rem(8);
      }

      p {
        font-size: rem(16);
      }
    }

    .btn-logout {
      border-radius: rem(6);
      align-items: center;
      height: 43px;

      @media only screen and (max-width: 799px) {
        justify-content: center;
      }

      img {
        width: rem(20) !important;
        margin-right: rem(8);
      }
    }

    .dialog {
      & > :first-child {
        @include breakpoint(md) {
          padding: 0 rem(35);
        }

        & > :first-child {
          h6 {
            padding: 0;
            height: rem(45);
          }

          & > :nth-child(2) {
            margin: 0;
            padding: 0 rem(35);
            .content {
              padding: 0;
              h1 {
                font-size: rem(24);
                font-weight: 600;
                line-height: rem(10);
                margin-bottom: rem(12);
                color: #252525;
              }

              p {
                font-weight: 400;
                font-size: rem(16);
                margin: rem(20) 0 rem(5) 0;
                color: #252525;
              }

              .input-wrapper {
                min-width: 0;
                p {
                  margin-top: rem(20);
                }
              }
            }
          }

          & > :nth-child(3) {
            padding: rem(24) rem(35) rem(35) 0;
          }
        }
      }
    }
  }
}
