.container {
  display: flex;
  flex-direction: row;
  .content {
    position: relative;
    flex: 1 1 auto;
    width: 100%;
    min-height: 445px;
    margin-left: 32px;
    &-full {
      display: flex;
      max-width: 100%;
      justify-content: center;
    }
  }
  .buat-halaman {
    width: 80%;
    margin-bottom: 12px;
    justify-content: flex-start;
    column-gap: 1rem;
  }
}

.menu {
  position: sticky;
  margin-top: 0px;
  margin-left: 20px;
  top: 50px;
  flex: 0 0 250px;
}

@media screen and (max-width: 768px) {
  .menu {
    position: fixed;
    padding-top: 32px;
    background: white;
    z-index: 10;
    top: 0;
    height: 100%;
    margin-left: 0px;
    padding-left: 20px;
    padding-right: 20px;
    left: -100%;
    transition: 0.5s ease;
  }

  .container {
    .content {
      margin-left: 0px;
    }
  }
}
