@import "./global/index";
@import "./utils/index";

.container {
  flex-direction: column;
  @include center-flex;

  .title-container {
    margin-bottom: rem(20);
    text-align: center;

    h1 {
      font-weight: 600;
    }

    p {
      font-size: rem(16);
    }
  }

  .card-container {
    display: flex;
    gap: rem(32);
    margin-bottom: rem(24);

    .card {
      width: rem(250);
      border: 2px solid #e4e5e7;
      padding: rem(30) rem(25);
      border-radius: rem(8);
      min-height: rem(300);
      display: flex;
      flex-direction: column;

      &-active {
        border-color: #41a4d5;
      }

      &__img {
        img {
          height: rem(48);
          width: rem(48);
        }
        margin-bottom: rem(12);
      }

      &__body {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        &__title {
          &-disabled {
            color: #a0a0a0;
          }
          margin-bottom: rem(8);
        }

        &__badge {
          margin-top: auto;
          margin-top: auto;
          margin-right: auto;
          color: $orange;
          border: 1px solid $orange;
          padding: rem(10) rem(24);
          border-radius: rem(5);
          font-size: rem(12);
          cursor: pointer;
        }

        &__description {
          font-weight: 400;

          &-disabled {
            color: #e4e5e7;
          }
        }

        button {
          border: 0.5px solid transparent;
          &.button-cancel {
            border: 0.5px solid #e84c3d;
            background-color: white;
            color: #e84c3d;
            &:hover {
              background-color: #e84c3d;
              color: white;
              transition: all 0.5s ease;
            }
          }
          margin-top: auto;
          margin-right: auto;
          font-size: rem(12);
        }
      }
    }
  }

  .button-container {
    width: 100%;
    button {
      width: 100%;
    }
  }
}

.dialog {
  & > :first-child {
    & > :first-child {
      color: #000 !important;
      width: rem(450);
      padding: rem(16);
      h6 {
        font-size: rem(24);
        font-weight: 600 !important;
        padding-bottom: rem(12);
      }
    }
  }
}
