@import "./global/index";
@import "./utils/index";

.container {
  display: flex;
  flex-direction: row;
  .content {
    position: relative;
    flex: 1 1 auto;
    width: 100%;
    min-height: 85vh;
    margin-left: rem(32);
    &-full {
      display: flex;
      max-width: 100%;
      justify-content: center;
    }
  }
  .buat-halaman {
    width: 100%;
    margin-bottom: 12px;
    justify-content: center;
    column-gap: 1rem;
  }
}

.menu {
  position: sticky;
  margin-top: rem(-20);
  top: rem(50);
  flex: 0 0 rem(250);
}

@media screen and (max-width: 768px) {
  .menu {
    position: fixed;
    padding-top: rem(32);
    background: white;
    z-index: 10;
    top: 0;
    height: 100%;
    margin-left: 0;
    padding-left: rem(20);
    padding-right: rem(20);
    left: -100%;
    transition: 0.5s ease;
  }

  .container {
    .content {
      margin-left: 0;
    }
  }
}
