@import "./global/index";
@import "./utils/index";

.container {
  h1 {
    font-weight: 600;
    margin-bottom: 8px;
    font-size: rem(24);
  }

  p {
    margin-bottom: rem(20);
  }

  form {
    
    div {
      width: 100%;
      margin-bottom: rem(20);
    
      textarea {
        width: 100%;
        resize: none;
      }
    }

    button {
      margin-left: auto;
    }
  }
}
