.container {
  h1 {
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 20pt;
  }
  p {
    margin: 0 0 20px 0px;
  }
  form {

    // > * {
    //   margin-top: 11px;
    // }

    div {
      width: 100%;
      margin-bottom: 20px;
      textarea {
        width: 100%;
        resize: none;
      }
    }
    button {
      margin-left: auto;
    }
  }
}
