.container {
    display: block;
    height: 100%;

    .footer {
        width: 100%;
        margin-top: 62px;
        margin-bottom: 20px;
        padding: 0px 20px;

        p {
            text-align: center;
            font-weight: 300;
        }
    }

    .content-wrapper {
        min-height: 73%;
        border-top: 2px solid rgba(228, 229, 231, 0.8);
        border-radius: 8px;
        padding-top: 20px;
    }
}