@import "./global/index";
@import "./utils/index";

.container {
  h1 {
    font-size: rem(24);
    font-weight: 600;
  }

  p {
    font-size: rem(16);
    margin-bottom: rem(16);
  }

  .form {
    padding: rem(32);
    border: 1.5px solid #dadce0;
    border-radius: rem(8);
    margin-bottom: rem(32);

    @include breakpoint(sm) {
      padding: rem(28) rem(20);
    }

    & > * {
      color: #3e3e3e;
      font-weight: 300;
    }

    &__control {
      display: flex;
      flex-direction: column;
      margin-bottom: rem(40);

      label {
        color: #252525;
        font-size: rem(16);
        font-weight: 400;
        margin-bottom: rem(8);
      }

      input,
      textarea {
        width: 100%;
        border-radius: 8px;
      }

      p {
        font-size: rem(12);
      }

      &__description {
        div {
          width: 100%;
          text-align: right;
          textarea {
            resize: none;
          }
        }
      }

      &__link {
        display: flex;
        flex-direction: row;
        column-gap: rem(16);

        @include breakpoint(sm) {
          flex-direction: column;
        }

        p {
          font-size: rem(14);
          margin-top: rem(16);
          flex: 0 1 auto;
          
          @include breakpoint(sm) {
            margin-top: 0;
          }
        }

        div {
          flex-grow: 1;

          input {
            width: 100%;
          }
        }
      }

      &__switcher {
        div {
          display: flex;
          align-items: center;
          margin-bottom: 0.5rem;
          column-gap: 0.5rem;

          label {
            margin-bottom: 0;
            display: flex;

            &:first-child {
              flex: 0 0 auto;
            }

            &:last-child {
              flex: 1 1 auto;
            }
          }
        }
      }

      &__types {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: rem(32);

        label {
          display: flex;
          flex-direction: row;
          align-items: center;
          column-gap: 0.6rem;
          margin-top: 0;
          font-size: rem(12);

          div {
            margin-left: 0rem;
          }
        }

        &__group {
          & > * {
            margin-bottom: rem(16) !important;
          }
        }
      }

      &__storage {
        &__item {
          border: 1px solid #e4e5e7;
          background: none;
          border-radius: rem(8);
          width: rem(150);
          height: rem(150);
          flex-direction: column;
          position: relative;
          @include center-flex;

          div {
            margin: 0;
            position: absolute;
            top: rem(8);
            left: rem(8);

            span::after {
              width: rem(24);
              height: rem(24);
              border: 3.5px solid transparent;
            }
          }

          &__badge {
            padding: 0.3rem 0.5rem;
            border: 0.5px solid #f4b12f;
            color: #f4b12f;
            position: absolute;
            right: rem(8);
            top: rem(8);
            font-size: rem(8);
            border-radius: rem(2.8);
          }

          img {
            margin-bottom: 0.5rem;
            width: rem(30);
            height: rem(30);
          }

          h3 {
            font-size: rem(14);
            color: #dadce0;
          }

          &.active {
            background: #f3fafc;
            border: 1px solid #41a4d5;
            h3 {
              color: #41a4d5;
            }
          }
        }
      }

      input[type="date"] {
        font-family: "Arial, sans-serif";
        color: rgba(20, 48, 69, 0.5);
      }
    }

    &__button__wrapper {
      display: flex;
      gap: rem(16);
      justify-content: flex-end;
    }
  }
}
