.footer {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    padding: 0px 20px;
  }

  > :first-child{
    width: 60px;
  }

  
  p {
    font-weight: 300;
    text-align: center;

    @media only screen and (max-width: 768px) {
        margin-bottom: 10px;
    }
  }

  .logo{
    align-self: center;
    display: flex;
    gap: 10px;

    img{
        height: 25px;
        display: flex;
        align-self: center;
    }
  }
}