@import "./global/index";
@import "./utils/index";

.container {
  width: 80%;
  padding: 35px 0 70px 0;
  .heading {
    text-align: center;
    h1 {
      font-weight: 600;
      font-size: rem(36);
    }

    p {
      margin: 0;
    }
  }

  .grid-container {
    margin-top: rem(35);
    display: grid;
    grid-auto-rows: rem(280);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 24px 24px;
    .item {
      border: 1px solid #dadce0;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: rem(25);

      .top {
        .avatar {
          img {
            object-fit: cover;
            width: rem(100);
            height: rem(100);
            border-radius: 50%;
          }
        }
      }

      .middle {
        text-align: center;
        .nama {
          // margin-top: rem(10);
          font-size: rem(18);
          font-weight: 600;
          text-align: center;
          color: #3e3e3e;
        }
        .role {
          color: #787879;
          font-size: rem(14);
        }
      }

      .bottom {
        .linkedin {
          // margin-top: rem(20);
          a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: rem(5);
            p {
              font-size: rem(12);
              font-style: italic;
              color: #787879;
            }
            img {
              content: url("../assets/images/icons/linkedin-grey.svg");
            }
            &:hover {
              img {
                content: url("../assets/images/icons/linkedin-blue.svg");
              }
            }
          }
        }
      }
    }
  }

  .btn-wrapper {
    display: flex;
    margin: rem(35) 0;
    justify-content: center;
  }
}
