.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .content{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .page {
    text-align: center;
    flex-grow: 1;
  }
}
