@import "./global/index";
@import "./utils/index";

.dialog {
  &__content {
    padding: 2rem !important;
    width: rem(400);
    min-height: rem(150);

    &__title {
      color: #000;
      font-weight: 600;
      margin-bottom: rem(16);
    }

    &__files {
      margin-bottom: rem(16);
    }

    &__password {
      display: flex;
      flex-direction: column;

      input {
        width: 100%;
      }
    }
  }

  &__actions {
    padding: 0 rem(32) rem(32) !important;
  }
}
