@import "./global/index";
@import "./utils/index";

.progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &-wrapper {
    width: 100%;
    max-width: rem(220);
  }

  &__bar {
    height: rem(8);
    background: #41a4d5;
    border-radius: rem(8);
    transition: width 0.2s ease;
  }

  &__percentage {
    font-weight: 600;
    color: #000;
  }
}

.file-card {
  display: flex;
  flex-direction: row;

  &__icon {
    width: rem(42);
    height: rem(42);
    font-size: rem(12);
    text-transform: uppercase;
    margin-right: rem(12);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    flex-shrink: 0;
  }

  &__detail {
    flex: 1 1 auto;

    &__name {
      color: #000;
      word-break: break-all;
    }
  }
}
