.container {
    border: 1px solid rgb(208, 208, 208);
    border-radius: 5px;
    width: 40%;
    max-width: 600px;
    // height: 40px;
    background-color: rgb(217, 233, 239);
    padding: 16px;
    position: relative;
    .icon {
        padding: 0 10px;
        font-size: 22px;
    }
    .container-icon {
        top: 8px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        // align-items: center;
        position: absolute;
    }

}