.dialog {
  &__content {
    padding: 2rem !important;
    width: 400px;
    min-height: 150px;
    &__title {
      color: #000;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    &__files{
      margin-bottom: 1rem;
    }
    &__password {
      display: flex;
      flex-direction: column;
      input{
        width: 100%;
      }
    }
  }

  &__actions {
    padding: 0 2rem 2rem !important;
  }
}
