.footer {
    width: 100%;
    margin: 10px 0;
    padding: 20px 77px 0 77px;
    border-top: 2px solid #E4E5E7;
    .wrapper{
        .top{
            display: flex;
            justify-content: space-between;
            column-gap: 35px;
            > * {
                display: flex;
                flex-direction: column;
                h6{
                    font-size: 16px;
                    margin-top: 10px;
                    min-height: 30px;
                }
            }

            .left{
                flex: 5;
                row-gap: 10px;
                .drophere-logo {
                    width: 200px;
                }
            }

            .right{
                flex: 5;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                column-gap: 35px;
                > * {
                    display: flex;
                    flex-direction: column;
                }
                .item-1{
                    // flex: 2;
                    row-gap: 10px;
                }
                .item-2,.item-3{
                    // background-color: red;
                    // flex: 3;
                    row-gap: 10px;
                    align-items: flex-start;
                    // text-align: right;
                    img{
                        height: 45px;
                    }
                }
            }
        }
        .bottom{
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            align-items: center;

            .logo{
                align-self: center;
                display: flex;

                > * {
                    margin: 7px;
                }

                img{
                    height: 25px;
                    display: flex;
                    align-self: center;
                }

                @media only screen and (max-width: 640px) {
                    margin: 0px 0px 10px 0px;
                }
            }
        }          
    }
    // padding-right: 110px;
    // padding-left: -110px;


    // @media only screen and (max-width: 880px) {
    //     flex-direction: column;
    //     padding: 0px 20px;
    // }

    
    // p {
    //     padding-top: 8px;
    //     font-weight: 300;
    //     text-align: center;
    //     // margin-right: -58px;
    //     margin-right: -28px;

    //     @media only screen and (max-width: 880px) {
    //         // margin-top: 20px;
    //         // margin-bottom: 5px;
    //         margin: 20px 0px 5px 0px;
    //     }
    // }

    // .logo{
    //     // margin-right: 110px;
    //     align-self: center;
    //     display: flex;
    //     // margin-left: -138px;

    //     > * {
    //         margin: 7px;
    //     }

    //     img{
    //         // padding-right: 110px;
    //         height: 25px;
    //         display: flex;
    //         align-self: center;
    //     }

    //     @media only screen and (max-width: 640px) {
    //         margin: 0px 0px 10px 0px;
    //     }
    // }
}