.dialog{
    .content{
        padding: 28px 40px 0 40px !important;
        h1 {
            // font-family: 'inter';
            font-size: 20pt;
            font-weight: 600;
            line-height: 10px;
            margin-bottom: 12px;
            color: #252525;
        }
    
        p {
            font-weight: 400;
            font-size: 12pt;
            margin: 20px 0 5px 0;
            color: #252525;
        }
    
        .input-wrapper{
            p {
                margin-top: 20px;
            }
        }
    }

    .actions{
        // margin-top: 25px;
        margin-top: 15px;
        padding: 0 40px 40px 40px;

        .actions-wrapper{
            display: flex;
            .button-confirm{
                margin-left: 15px;
            }
        }
    }
}