@import "./global/index";
@import "./utils/index";

.forgot-password {
  form {
    & > :first-child {
      @include breakpoint(md) {
        padding: 0 rem(35);
      }

      & > :first-child {
        h6 {
          padding: 0;
          height: rem(45);
        }

        & > :nth-child(2) {
          margin: 0;
          padding: 0 rem(35);
          .content {
            padding: 0;
            h1 {
              font-size: rem(26);
              font-weight: 600;
              line-height: rem(10);
              margin-bottom: rem(12);
              color: #252525;
            }

            p {
              font-weight: 400;
              font-size: rem(16);
              margin: rem(20) 0 rem(5) 0;
              color: #252525;
            }

            .input-wrapper {
              min-width: 0;
              p {
                margin-top: rem(20);
              }
            }
          }
        }

        & > :nth-child(3) {
          padding: rem(24) rem(35) rem(35) 0;
        }
      }
    }
  }
}
