@import "./utils/index";

.container {
  max-width: 95%;
  margin: auto;
  overflow-x: hidden;

  .content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-bottom: rem(80);

    .header,
    .auth {
      display: flex;
      justify-content: center;
      flex: 1;
      min-height: 85vh;
    }

    .header {
      @include breakpoint(md) {
        display: none;
      }
    }

    .auth {
      @include breakpoint(md) {
        padding-top: rem(30);
      }

      @include breakpoint(sm) {
        padding-top: 0;
      }
    }
  }
}
