.container {
    display: flex;
    height: 100%;
    flex-direction: column;

    @media only screen and (max-width: 640px) {
        height: auto;
    }

    .content {
        padding: 0px 50px;
        min-height: 500px;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        align-items: center;

        margin-top: -105px;
        
        .header, .auth {
            display: flex;
            justify-content: center;
            flex: 1;
        }
        
        .header {
            padding-top: 50px;
        }

        .auth {
            padding-top: 80px;
        }
    }
}