.container {
  display: flex;
  height: 100%;
  flex-direction: column;

  @media only screen and (max-width: 799px) {
    height: auto;
  }

  .content {
    // padding: 0px 50px;
    // min-height: 500px;
    min-height: 85vh;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    // align-items: center;

    .header,
    .auth {
      display: flex;
      justify-content: center;
      flex: 1;
    }

    .header{
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }

    .auth {
      // padding-top: 50px;

      @media only screen and (max-width: 799px) {
        padding-top: 30px;
      }

      @media only screen and (max-width: 640px) {
        padding-top: 0px;
      }
    }
  }
}
