.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding: 0 20px;

  @media only screen and (max-width: 768px) {
    padding: 0 30px;
  }

  a {
    text-decoration: underline;
    color: #2196f3;
    font-weight: 400;
  }

  a:hover {
    color: #00bcd4;
  }

  .form {
    max-width: 400px;
    min-width: 0;
    width: 100%;
    padding: 40px;

    .header {
      text-align: left;

      h1 {
        font-size: 20pt;
        font-weight: 600;
        line-height: 10px;
      }

      p {
        font-weight: 400;
        font-size: 13pt;
        margin: 12px 0 20px 0;
        color: #ababab;
      }
    }

    .form-container {
      > * {
        margin-top: 20px;
        width: 100%;
      }

      .button-daftar {
        margin-top: 30px;
        font-size: 14pt;
      }

      .button-masuk {
        margin-top: 10px;
        font-size: 14pt;
      }

      .lupa-password {
        margin: 20px 0 0 0;
        text-align: right;
        text-decoration: underline;
        color: #2196f3;
        font-weight: 400;
        background: transparent;
        border: none;
        font-size: 13pt;
        &:hover {
          cursor: pointer;
          color: #00bcd4;
        }
      }

      .dialog {
        h1 {
          font-size: 20pt;
          font-weight: 600;
          line-height: 10px;
        }
      }
    }
  }
}

.input-wrapper {
  margin-bottom: 1rem;

  > * {
    width: 100%;
  }

  > :last-child{
    > svg:first-child{
      display: none;
    }
  }

  input {
    padding: 16px;
    border-radius: 6px;
    min-width: 0;
    width: 100%;
  }

  margin-top: 0px !important;
}
