@import "./global/index";
@import "./utils/index";

.container {
  flex: 1;
  @include center-flex;

  a {
    text-decoration: underline;
    color: $blue-primary;
    font-weight: 400;

    &:hover {
      color: $blue-secondary;
    }
  }

  .form {
    max-width: 400px;
    width: 100%;
    padding: rem(40);

    @include breakpoint(md) {
      padding: rem(30);
    }

    .header {
      text-align: left;

      h1 {
        font-size: rem(27);
        font-weight: 600;
      }

      p {
        font-weight: 400;
        font-size: rem(17);
        margin-bottom: rem(20);
        color: #ababab;
      }
    }

    .form-container {
      & > * {
        margin-top: rem(20);
        width: 100%;
      }

      .button {
        &-daftar,
        &-masuk {
          font-size: rem(18);
        }

        &-daftar {
          margin-top: 30px;
        }

        &-masuk {
          margin-top: 10px;
        }
      }

      .lupa-password {
        text-align: right;
        text-decoration: underline;
        color: $blue-primary;
        font-weight: 400;
        border: none;
        background: transparent;
        font-size: rem(16);
        &:hover {
          cursor: pointer;
          color: $blue-secondary;
        }
      }

      // .dialog {
      //   h1 {
      //     font-size: rem(24);
      //     font-weight: 600;
      //     line-height: rem(10);
      //   }
      // }

      
    }
  }
}

.dialog {
  & > :first-child {
    @include breakpoint(md) {
      padding: 0 rem(35);
    }

    & > :first-child {
      h6 {
        padding: 0;
        height: rem(45);
      }

      & > :nth-child(2) {
        margin: 0;
        padding: 0 rem(35);
        .content {
          padding: 0;
          h1 {
            font-size: rem(24);
            font-weight: 600;
            line-height: rem(10);
            margin-bottom: rem(12);
            color: #252525;
          }

          p {
            font-weight: 400;
            font-size: rem(16);
            margin: rem(20) 0 rem(5) 0;
            color: #252525;
          }

          .input-wrapper {
            min-width: 0;
            p {
              margin-top: rem(20);
            }
          }
        }
      }

      & > :nth-child(3) {
        padding: rem(24) rem(35) rem(35) 0;
      }
    }
  }
}

.input-wrapper {
  margin-bottom: 1rem;

  & > * {
    width: 100%;
  }

  svg:first-child {
    display: none;
  }

  input {
    padding: rem(16);
    border-radius: rem(6);
    min-width: 0;
    width: 100%;
  }

  margin-top: 0 !important;
}
