.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 20px;

    a {
        text-decoration: underline;
        color: #2196F3;
        font-weight: 400;
    }

    a:hover {
        color: #00bcd4;
    }

    .form {
        max-width: 400px;
        width: 100%;
        padding: 40px;
        // float: inline-start;

        .header {
            // padding: 20px 20px 0px 20px;
            text-align: left;
    
            h1 {
                // font-family: 'inter';
                font-size: 20pt;
                font-weight: 600;
                line-height: 10px;
            }
    
            p {
                font-weight: 400;
                font-size: 13pt;
                margin: 12px 0 20px 0;
                color: #ABABAB;
            }
            
        }

        .form-container {
            // border: 1px solid #9E9E9E;
            // background: #fafafa;
            // border-radius: 10px;
            // padding: 30px;

            > * {
                margin-top: 20px;
                width: 100%;
            }
            // > *:first-child {
            //     margin-top: 0;
            // }

            .input-wrapper{

                > * {
                    width: 100%;
                    // margin-top: 15px;
                }

                // > *:first-child {
                //     margin-top: 0;
                // }

                p{
                    margin-bottom: 5px;
                    font-size: 12pt;
                    color: black;
                }

                .input{
                    border-radius: 6px;
                }

                margin-top: 0px;
            }

            .button-daftar{
                margin-top: 30px;
                font-size: 14pt;
            }

            .button-masuk{
                margin-top: 10px;
                font-size: 14pt;
            }

            .lupa-password{
                margin: 20px 0 0 0;
                text-align: right;
            }
        }
    }
}