.container {
  max-width: 250px;
  position: sticky;
  top: 0;
  a {
    text-decoration: none !important;
  }
  .user {
    display: none;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
    img {
      width: 45px;
      height: 45px;
      margin-right: 16px;
    }
    p {
      font-size: 16px;
    }
  }
}

.selected {
  border-right: #2196f3 solid 3px;

  span {
    color: #2196f3 !important;
  }
}

.normal {
  border-right: #e8e8e8 solid 3px;
}

.subheader {
  text-align: center;
  margin: 10px 0px;
  padding-left: 0px;
  font-size: 12pt;
  color: #575757;
  font-weight: 600;
}

.btn-logout {
  display: none!important;
}

@media screen and (max-width: 768px) {
  .container {
    position: relative;
    .user {
      display: flex;
    }
  }

  .btn-logout {
    display: block!important;
  }
}
