@import "./global/index";
@import "./utils/index";

.container {
  max-width: rem(300);
  position: sticky;
  top: 0;

  a {
    text-decoration: none !important;
  }

  .user {
    display: none;
    align-items: center;
    margin-right: rem(20);
    margin-bottom: rem(20);
    padding-left: rem(20);
    padding-right: rem(20);

    .avatar {
      width: rem(45);
      height: rem(45);
      border-radius: 50%;
      object-fit: cover;
      margin-right: rem(8);
    }

    p {
      font-size: rem(16);
    }
  }
}

.selected {
  border-right: #2196f3 solid 3px;

  span {
    color: #2196f3 !important;
  }
}

.normal {
  border-right: #e8e8e8 solid 3px;
}

.subheader {
  text-align: center;
  margin: rem(10) 0;
  padding-left: 0;
  font-size: rem(16);
  color: #575757;
  font-weight: 600;
}

.list-item {
  .list-wrapper {
    display: flex !important;
    width: 90% !important;
    margin: 0 auto;
    padding-left: rem(24) !important;

    @include breakpoint(md) {
      padding-left: rem(20) !important;
    }

    align-items: center !important;
    justify-content: flex-start !important;
    > * {
      min-width: 0 !important;
    }
    > :nth-child(1) {
      margin-right: 1rem;
    }
    > :nth-child(2) {
      flex: 0 1 auto !important;
    }
  }
}

.btn-logout {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .container {
    position: relative;
    .user {
      display: flex;
    }
  }

  .btn-logout {
    display: block !important;
  }

  .btn-logout span {
    height: auto;
  }
}
