@import "./global/index";
@import "./utils/index";

.container {
  h1 {
    font-weight: 600;
    font-size: rem(24);
  }

  p {
    margin: 0;
  }

  & > *:first-child {
    margin-top: 0;
  }

  .verify-alert {
    background-color: #fff9dd;
    margin-bottom: rem(16);
    padding: rem(20) rem(30);
    border-radius: rem(8);

    h6 {
      font-size: rem(18);
      font-weight: 500;
    }

    p {
      color: #787879;
      span {
        color: $blue-primary;
        cursor: pointer;
      }
    }
  }

  .heading-wrapper {
    // padding: 0 0 rem(20) 0;
    margin: 0 0 rem(16) 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(10);
    align-items: center;
    justify-content: space-between;
    position: relative;

    .heading {
      flex: 1 1 auto;
    }

    .actions {
      flex: 0 1 auto;

      @include breakpoint(sm) {
        flex: 1 1 auto;
      }

      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        path {
          color: #3e3e3e;
          background-color: #3e3e3e;
        }
      }

      input {
        background-color: #f1f3f4;
        border-radius: rem(8);
        border: none;
        padding: rem(16) rem(16) rem(16) rem(48);
      }

      .search {
        flex: 1 1 auto;
      }

      .dropdown {
        & > :last-child {
          & > :first-child {
            white-space: nowrap;
            border: none;
            border-radius: 0;
            height: rem(48);
            display: flex;
            align-items: center;
            font-size: rem(16);
            padding: 0 0 0 16px;

            svg {
              height: rem(40);
            }

            & > :first-child {
              img {
                margin-right: 5px;
              }
            }

            & > :last-child {
              display: flex;
              align-items: center;
            }
          }

          & > :last-child {
            position: absolute;
            right: 0;
            width: 120px;
            height: auto;
            background-color: white;

            & > * {
              border: none;
            }
          }
        }
      }
    }
  }

  .noPage-container {
    @include center-flex;
    flex-direction: column;
    padding: rem(35) 0;

    p {
      text-align: center;
      margin: rem(15);
      font-size: rem(20);
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: rem(10);

    @include breakpoint(md) {
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      gap: rem(6);
    }

    @include breakpoint(xxs) {
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }

    .not-found {
      flex-direction: column;
      @include center-flex;
      p {
        text-align: center;
        margin: rem(15);
        font-size: rem(20);
      }
    }
  }
}

.dialog {
  .content {
    padding: rem(28) rem(40) 0 rem(40) !important;

    h1 {
      font-size: rem(24);
      font-weight: 600;
      line-height: rem(10);
      margin-bottom: rem(12);
      color: #252525;
    }

    p {
      font-weight: 400;
      font-size: rem(16);
      margin: rem(20) 0 rem(5) 0;
      color: #252525;
    }

    .input-wrapper {
      p {
        margin-top: rem(20);
      }
    }
  }

  .actions {
    margin-top: rem(15);
    padding: 0 rem(40) rem(40) rem(40);

    .actions-wrapper {
      display: flex;

      .button-confirm {
        margin-left: rem(15);
      }
    }
  }
}
