.item {
  border: 1px solid #dadce0;
  border-radius: 8px;
    > :first-child {
      @media screen and (max-width: 768px) {
          padding: 0 35px;
      }
      > :first-child {
          // background-color: blue;
          h6{
              padding: 0;
              height: 45px;

          }

          > :nth-child(2){
              margin: 0;
              padding: 0 35px;
              .content{
                  // padding: 28px 40px 0 40px !important;
                  padding: 0;
                  h1 {
                      // font-family: 'inter';
                      font-size: 20pt;
                      font-weight: 600;
                      line-height: 10px;
                      margin-bottom: 12px;
                      color: #252525;
                  }
              
                  p {
                      font-weight: 400;
                      font-size: 12pt;
                      margin: 20px 0 5px 0;
                      color: #252525;
                  }
              
                  .input-wrapper{
                      min-width: 0;
                      p {
                          margin-top: 20px;
                      }
                      input{
                          min-width: 0;
                      }
                  }
              }
          }

          > :nth-child(3) {
              padding: 24px 35px 35px 0;
              
              > :first-child{
                background: #e84c3d;
                border-color: #e84c3d;
                transform: translate3d(0,0,0);
                &:hover{
                  background-color: rgb(233, 103, 91);
                }
              }
          }
      }
  }
  .body {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #dadce0;
    height: 80%;
    // padding: 10px;
    .top {
      // padding: 10px;
      display: flex;
      justify-content: space-between;
      .storage,.kebab-menu{
        width: 40px;
        height: 40px;
        img{
          width: 20px;
        }
      }
      .storage{
        padding: 10px;
      }
      .kebab-menu{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.2s;
        &:hover{
          background: #F1F3F4;
        }
      }
      button {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        // background: url("/img/icons/kebab-menu.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background: none;
        border: none;
        cursor: pointer;
        
      }
      .menu {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        margin-top: 10px;
        & > div {
          border-radius: 2px;
          max-width: 105px;
          min-width: 0;
          box-shadow: 0px 0px 2px rgba(120, 120, 121, 0.3);
          font-size: 12px;
          li {
            padding: 10px 16px;
            &:hover {
              color: #1a74a0;
            }
          }
        }
      }
    }
    .bottom {
      padding: 0 10px 10px 10px;
      flex: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .title {
        text-align: center;
        font-weight: 600;
      }
      .files {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: #787879;
        margin-top: 5px;
        img {
          width: 20px;
          margin-right: 5px;
        }
      }
    }
  }

  .footer {
    height: 20%;
    font-size: 12px;
    color: #787879;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
    .calendar {
      // flex-basis: 6;
      display: flex;
      align-items: center;
      img {
        width: 15%;
        margin-right: 5px;
      }
    }
    .views {
      // flex-basis: 5;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      img {
        margin-right: 5px;
      }
    }
  }
}
