.container {
  h1 {
    font-weight: 600;
    font-size: 20pt;
  }

  p {
    margin: 0;
    margin-bottom: 2rem;
  }

  .card-container {
    display: flex;
    gap: 32px;
    margin-bottom: 24px;

    .card {
      max-width: 480px;
      border: 2px solid #e4e5e7;
      padding: 2rem 2rem;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      column-gap: 2rem;

      &__img {
        img {
          height: 72px;
          width: 72px;
        }
        margin-bottom: 12px;
      }

      &__body {
        // flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        &__title {
          &-disabled {
            color: #a0a0a0;
          }
          margin-bottom: 8px;
        }

        &__badge {
          margin-top: auto;
          margin-top: auto;
          margin-right: auto;
          color: #f4b12f;
          border: 1px solid #f4b12f;
          padding: 10px 24px;
          border-radius: 5px;
          font-size: 12px;
          cursor: pointer;
        }

        &__description {
          font-weight: 400;
          margin-bottom: 1.5rem;

          &-disabled {
            color: #e4e5e7;
          }
        }

        button {
          border: 0.5px solid transparent;
          &.button-cancel {
            border: 0.5px solid #e84c3d;
            background-color: white;
            color: #e84c3d;
            &:hover {
              background-color: #e84c3d;
              color: white;
              transition: all 0.5s ease;
            }
          }
          margin-top: auto;
          margin-right: auto;
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    .card-container {
      .card {
        justify-content: flex-end;
        flex-direction: column-reverse;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .container {
    .card-container {
      flex-direction: column;
      .card {
        flex-direction: row;
      }
    }
  }
}
