@import "./global/index";
@import "./utils/index";

.container {
  h1 {
    font-weight: 600;
    font-size: rem(24);
  }

  p {
    margin: 0;
    margin-bottom: rem(32);
  }

  .card-container {
    display: flex;
    gap: rem(32);
    margin-bottom: rem(24);

    @include breakpoint(sm) {
      flex-direction: column;
    }

    .card {
      max-width: rem(480);
      border: 2px solid #e4e5e7;
      padding: rem(32);
      border-radius: rem(8);
      display: flex;
      flex-direction: row;
      column-gap: rem(32);

      @include breakpoint(lg) {
        flex-direction: column-reverse;
      }

      @include breakpoint(md) {
        flex-direction: row;
        max-width: 100%;
        justify-content: space-between;
      }

      &__img {
        img {
          height: rem(72);
          width: rem(72);
        }

        margin-bottom: rem(12);
      }

      &__body {
        display: flex;
        flex-direction: column;

        &__title {
          &-disabled {
            color: #a0a0a0;
          }

          margin-bottom: rem(8);
        }

        &__badge {
          margin-top: auto;
          margin-top: auto;
          margin-right: auto;
          color: #f4b12f;
          border: 1px solid #f4b12f;
          padding: rem(10) rem(24);
          border-radius: rem(5);
          font-size: rem(12);
          cursor: pointer;
        }

        &__description {
          font-weight: 400;
          margin-bottom: rem(24);

          &-disabled {
            color: #e4e5e7;
          }
        }

        button {
          border: 0.5px solid transparent;

          &.button-cancel {
            border: 0.5px solid #e84c3d;
            background-color: white;
            color: #e84c3d;

            &:hover {
              background-color: #e84c3d;
              color: white;
              transition: all 0.5s ease;
            }
          }

          margin-top: auto;
          margin-right: auto;
          font-size: rem(12);
        }
      }
    }
  }
}
